* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --bs-body-bg: hsl(0, 0%, 98%);
  --bs-box-bg: hsl(0, 0%, 98%);
}

[data-bs-theme="dark"] {
    --bs-body-bg: hsl(235, 21%, 11%);
    --bs-box-bg: hsl(235, 24%, 19%);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-desktop-light.jpg);
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
}

main {
  padding: 1rem;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

h1 {
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 1rem;
  color: white;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 40px 0.5px rgba(0, 0, 0, 0.171);
  border-radius: 5px;
}

ul {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
}

ul>li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul>li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  border-bottom: 1px rgba(0, 0, 0, 0.301) solid;
  padding: 1rem;
  background-color: var(--bs-box-bg);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

li > button {
  border: 1px solid;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li>img {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

form {
  display: flex;
  gap: 1rem;
}

form>input {
  padding: 1rem;
  width: 20rem;
  font-size: 1rem;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  border: unset;
  background-color: var(--bs-box-bg);
}
form> input:focus {
  box-shadow: rgba(255, 255, 255, 0.199) 0px 0px 10px 10px;
}

form>button {
  width: 4rem;
  font-size: 1rem;
  cursor: pointer;
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}