@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:"Josefin Sans",Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  --bs-body-bg: hsl(0, 0%, 98%);
  --bs-box-bg: hsl(0, 0%, 98%);
  --text: hsl(235, 19%, 35%);
  --shadow:0 0 40px 0.5px rgba(0, 0, 0, 0.200);
}

:root.dark {
    --bs-body-bg: hsl(235, 21%, 11%);
    --bs-box-bg: hsl(235, 24%, 19%);
    --text:hsl(234, 39%, 85%);
    --shadow: ;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-desktop-light.jpg);
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: all 0.3s ease;
  overflow: hidden;
}

main {
  margin: 2rem 0;
  padding: 1rem;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

h1 {
  color: white;
  font-weight: 700;
}

p {
  font-size: 18px;
  color: var(--text);
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

ul {
  width: 100%;
  height: fit-content;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
}

ul>li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul>li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  border-bottom: 1px rgba(0, 0, 0, 0.301) solid;
  padding: 1rem;
  background-color: var(--bs-box-bg);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

li > button {
  border: 1px solid;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li>img {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

form {
  display: flex;
  gap: 1rem;
}

form>input {
  padding: 1rem;
  width: 20rem;
  font-size: 1rem;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  border: unset;
  background-color: var(--bs-box-bg);
}
form> input:focus {
  box-shadow: var(--shadow);
  outline: none;
}

form>button {
  width: 4rem;
  font-size: 1rem;
  cursor: pointer;
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

@media screen and (max-width:40rem) {
  body {
    background-image: url(/images/bg-mobile-light.jpg);
  }
}